# Ignore everything
*

# ...even if they are in subdirectories
!*.config/i3
!*.config/polybar
!*.config/compton
!*.config/dunst
!*.config/fontconfig
!*.config/rofi
!*.screenlayout
!criteria.sh
!*.Xresources
