*
!.config/picom
!.config/scripts
!.config/dunst
!.config/fontconfig
!.config/i3
!.config/nvim
!.config/polybar
!.config/rofi
!.config/sway
!.config/waybar
!.config/wofi
!*.screenlayout
!criteria.sh
!*.Xresources
