.cache/
.config/
.dbus/
.cargo/
.local/
.pki/
.mono/
.omnisharp/
.quicktype-vscode/
.ssh/
.surf/
.terminfo/
.thumbnails/
.vim/
.vscode/
.vscode-oss/
.icons/
.gtkrc-*
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Video/
.bashrc
.bash_*
.esd_auth
.lesshst
.viminfo
.wget-hsts
.Xauthority
*.txt
!.config/i3
!polybar
!dunst
!compton
.ICEauthority
.IdeaIC2018.2/
.IdeaIC2018.3/
.IdeaIC2019.1/
.android/
.anydesk/
.bashrc.bak
.docker/
.gitconfig
.gnupg/
.jalopy.15/
.java/
.kingsoft/
.kube/
.layouts/
.lesshsQ
.m2/
.minikube/
.mozilla/
.node-gyp/
.npm/
.pylint.d/
.screenrc
.soapuios/
.ssr/
.tooling/
.xscreensaver
.xsession-errors
.yarnrc
Oracle/
go/
lib/
oraInventory/
